a, .issueTocPublishArticles h2, .article-summary .media-heading a {
    color: @linkcolor;
}
.btn-default, .btn-primary, .btn-primary:visited, .btn-default:visited, .block_make_submission_link, #seachCheckFlag:checked + .searchCntNav .show-search, .btn-system
{background-color: @buttonBg; border-color: @buttonBg;}
.btn-default, .btn-primary, .btn-primary:visited, .btn-default:visited, .block_make_submission_link, .block_make_submission_link:visited, #seachCheckFlag:checked + .searchCntNav .show-search, .btn-system
{color:@buttoncolor}
.btn:hover, .btn-default:hover, .btn-primary:hover, .block_make_submission_link:hover{    box-shadow: inset 0 100px rgba(0,0,0,0.1);}
body{background-color:@bodybg; }
#primaryMenuWrp{background: @menuBg}
#main-navigation > li > a{color: @menuTextColor}
#main-navigation > li > a:hover, #main-navigation > li > a.active, #main-navigation .dropdown .dropdown-menu a, #main-navigation .dropdown:hover > a{color: @menuBarTextColorHover}
#main-navigation > li > a:hover, #main-navigation > li > a.active, #main-navigation .dropdown:hover > a, #main-navigation .dropdown:hover, #main-navigation .dropdown .dropdown-menu{background:@menuBarHover}