/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}
#set-5 {
	background: #fff;
}

* {
    box-sizing: border-box;
}
a{text-decoration: none;color: #007ac3;}
a:hover{text-decoration: none;}
h1, h2, h3, h4{font-family: 'Source Sans Pro', sans-serif; color: #666; font-weight: 300}
body{font-family: Arial,Helvetica,sans-serif; -webkit-font-smoothing: antialiased;     -moz-font-smoothing: antialiased; font-smoothing: antialiased; color:#222; font-size: 15px;}
header#headerNavigationContainer{border:0px ;  background: rgba(0,0,0,0.6); border-radius: 0px;margin-bottom: 0px; position: absolute; width: 100%; z-index: 1}
.innerHeaderWrp{ }
header a{color: #fff}
.container{width: 90% !important; margin: 0 auto}
.topHeader{float: right;     top: 25px; padding: 10px 0px; width:100%; position: absolute ; z-index: 1; background: transparent; }
.topHeader .container{padding-right: 0px;}
#topMenuRight ul{list-style: none; }

#topMenuRight {padding: 0; text-align: right;}
#topMenuRight .menu > li#searchWrpNav{padding: 7px 10px;}
#topMenuRight .menu {list-style: none; margin: 0;  }

#topMenuRight .menu > li {float: left;  border-right: 0px; } 
#topMenuRight .menu > li > a{display: block;  padding: 2px 10px; font-size: 18px;  font-weight: 300;  color: #fff;   margin: 0px;}
#topMenuRight .menu > li:not(:last-child) {border-right:0px solid #fff;}
/*#topMenuRight .menu > li > a:hover{opacity: 0.6;}*/
#topMenuRight .fa{  vertical-align: middle; padding-right: 4px; }
.header-main nav .navbar-brand{    float: left; height: 40px; margin: 18px 0; text-indent: -999em; width: 200px; background-position:left center; background-repeat: no-repeat; background-size: contain }


.newDropDown {position: relative;}
.newDropDown ul{visibility: hidden;  -moz-transition:0.2s; -webkit-transition:0.2s; -ms-transition:0.2s; transition:0.2s; opacity: 0.9; right: 0px; position: absolute; top:90%; background: #fff; list-style: none; margin: 0px; padding: 0px; min-width: 150px; text-align: left; transition:all 0.2s; -webkit-transition:all 0.2s;}
.newDropDown ul:before{    content: ''; position: absolute; top: -13px; border-width: 6px; border-color: transparent; border-style: solid; border-bottom: 8px solid #fff; display: inline-block;    right: 14px;} 
.newDropDown ul li{ display: block; width: 100%; padding: 0px;}
.newDropDown ul li:last-child{border-bottom: 0px solid rgba(204, 204, 204, 0.44); }
.newDropDown ul li a{ display: block; border-left: 0px solid #fff;  padding: 5px 10px; font-size: 16px; color: #333;  text-shadow:none;}
.newDropDown ul li a:hover{  background:#EFF2F7; border-color: #cfd5e4; }
.newDropDown:hover ul{opacity: 1; visibility: visible; top:100%; }
.newDropDown:hover  ul{display: block;}
.openJournalSystemTitle{font-size: 38px;
    font-weight: 300;
    margin-bottom: 36px;}


#main-navigation{ float: left;}
#main-navigation > li > a{color: #fff;  font-size: 18px; font-weight:200; padding-bottom: 14px; padding-top: 14px;}


#main-navigation > li > a:hover, #main-navigation > li > a:active{background:#007ac3}

.site-name a,.site-name a:hover{color: #fff}
.mainNavigation{float: left; width: 50%; padding: 0px 0px;  background: transparent; height: 100px; position: relative; z-index: 2}

#primaryMenuWrp{width: 100%;}
#main-navigation{float: left;     padding-right: 116px;}
#main-navigation .dropdown .dropdown-menu{-moz-transition:0.2s; -webkit-transition:0.2s; -ms-transition:0.2s; transition:0.2s; visibility: hidden; opacity: 0; min-width: 230px; box-shadow: none; display: block; border-radius: 0px; border-width: 0 1px 1px 1px;     background: #007ac3;}
#main-navigation .dropdown .dropdown-menu a{color: #fff;   font-size: 16px;  line-height: 28px;}
#main-navigation .dropdown .dropdown-menu a:hover{background:transparent; text-decoration: underline; }
#main-navigation .dropdown:hover .dropdown-menu{visibility: visible; opacity: 1}
#main-navigation .dropdown  a{-moz-transition:0.2s; -webkit-transition:0.2s; -ms-transition:0.2s; transition:0.2s;}
#main-navigation .dropdown:hover > a{background:#007ac3}
#primaryMenuWrp{position: relative; background: #00619c; display: table; clear: both; padding-left: 5%; padding-right: 5%;}
/*#primaryMenuWrp:before{content: ''; opacity: 0.5; height: 1px; width:100%; position: absolute; top: 1px;
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 12%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 12%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}*/
.adminLogoJournal {}
.adminLogoJournal img{max-width: 100px; float: left;}
div.searchBarWrp{display: none;}

.mainNavigation  a{display: inline-block; padding: 0px 0px; float: left;}
body[data-page="noJournal"] .mainNavigation  img{}

.plain{padding-left: 0px;}
.plain li{line-height: 28px}
.navbar{z-index: inherit; border:0px;}

label[for="menuOnTop"]{display: none; font-size: 24px; padding: 10px; border-radius: 0%; color: #fff; position: fixed; z-index: 1000; top:0px; left: 5px; cursor: pointer;}
#menuOnTop{display: none;}

.menuOnTopClose{ transition:all 0.2s; -webkit-transition:all 0.2s; box-shadow: 0px 0px 10px rgba(0,0,0,0.5);  background: #fff; color: #333 !important;}
.menuOnTopClose{left: -200px !important;  color: #333 !important;}
.showOnMobile{display: none !important;}
.table-responsive .action{white-space: nowrap;}
.inline-form-field input, .inline-form-field select{margin: 5px;}
.breadcrumb{background: transparent;     font-size: 16px;    padding: 10px 0px;     margin-bottom: 20px;
    border-bottom: 1px dotted #003f7c;
    border-radius: 0px; }
.breadcrumb a{font-weight: 400;  }
.breadcrumb>li+li:before{content: '/'; color: #333}
.breadcrumb>.active{color: #333}
#mainContainer{padding:0px 0px; padding-top: 0px; background: #fff; width: 100%; display: flex; display: -webkit-flex; display: -moz-flex; display: -ms-flex;}
#mainContainer, .topHeader .container{ width: 90% }
 #sidebar, .pkp_structure_main {padding-top: 20px; padding-bottom:  20px;}
#sidebar{background: #f4f4f4}
  #sidebar ul {padding-left: 10px}
  #sidebar li {list-style: none;}
  #sidebar li a{padding: 5px 5px; transition:all 0.2s; -webkit-transition:all 0.2s; display: block;}
  #sidebar li a:before{content: '\00BB';}
  #sidebar li a:hover{   text-decoration: underline;}
  #sidebar > div{margin-bottom: 10px;}
  #sidebar > div .title{display: block; cursor: pointer; background: #91afc3; color: #fff; position: relative;     font-size: 17px;
    font-weight: 500;
    padding: 5px 40px 5px 10px;} 
  #sidebar > div .title:after{content:'\f068'; padding: 10px; line-height: 17px; font-size: 14px; font-family: 'FontAwesome'; right:0px; top:0px; bottom: 0px; position: absolute; background: #2f5e83; color: #fff; }
  #sidebar > div.showHide .title:after{content:'\f067';  }
  #sidebar > div.showHide .title ~ .content{display: none; }
  #sidebar > div.showHide {border: 1px solid #2f5e83; }
  #sidebar > div.showHide .title {background: #fff;  color: #2f5e83 }


/* .fields input,  .fields select{margin-left: 200px;}*/
 .mainNavigation .container {padding: 0px; width: 100% !important; padding-left: 10%}
 #topSearchWrpNav{display: none;}

.page_submissions .alert-info {border: 0; border-left: 5px solid #8e9193; border-radius: 0px; background: #ddd; color: #000;}
.page_submissions .alert-info a{

background-color: #8e9193;
display: inline-block;
text-align: center;
cursor: pointer;
color: #ffffff !important;
border-radius: 0.375rem;
line-height: 2.1875rem;
padding: 1rem 6rem;

}
.page_submissions .alert-info a:hover{text-decoration: underline;}

 .block_make_submission_link{ background-color:#ea8f00;display: inline-block;text-align: center;  transition:all 0.5s; -webkit-transition:all 0.5s;  font-size: 18px; cursor: pointer;color: #ffffff !important;    width: 100%; padding: 10px;}
.block_make_submission_link:hover{    background:rgba(234,143,0,0.8)}
    
    

.topSocial {float: left;}
.topSocial ul{list-style: none; padding: 0px; margin: 0px;}
.topSocial li{display: inline-block;}
.topSocial li a{color: #fff; display: inline-block; padding: 7px 0px; text-align: center;  width: 40px; font-size: 20px; transition:all 0.5s; -webkit-transition:all 0.5s;}
.topSocial li a.fa-facebook:hover{background: #507CBE; color: #fff}
.topSocial li a.fa-twitter:hover{background: #63CDF1; color: #fff}
.topSocial li a.fa-google-plus:hover{background: #F16261; color: #fff}
.topSocial li a.fa-linkedin:hover{background: #90CADD; color: #fff}

.btn-primary.read-more{margin-top: 5px; float: right; margin-top: 10px}

.themeEditIcon{background: #7e7e7f; color: #fff; padding: 10px 15px; float: left; font-size: 18px; display: inline-block; border-radius: 3px; }
.announcement-full .page-header{border-bottom: 0px; margin-bottom: 10px;}
.announcement-full h3{margin-bottom: 0px;}
.announcementContent, .announcement-full .description{padding-left: 63px;}
.titleWithThemeEditIcon{margin-left: 63px; line-height: 32px;}
.titleWithThemeEditIcon .date{display: block; width: 100%; font-size: 14px; margin-top: 10px; margin-bottom: 10px; line-height: 16px; color: #999} 
.announcement-summary .media-heading{margin-bottom: 15px;}

.pkp_structure_main.col-md-12{padding: 30px 0px;  padding-top: 0px;}

.download{padding-top: 10px; padding-bottom: 10px;text-align: center;}
.article-summary{border-bottom: 1px solid #eee; padding-bottom: 10px; background: #f5f6f7; padding: 10px; text-align: justify;}
.article-summary .media-heading{font-size: 15px;
    font-weight: 600; }
.article-text h2 { background-color: #00619c; font-size: 24px; font-weight: 600; margin-top: 5px; color: #fff; padding: 5px;
    padding-bottom: 7px;
    box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
    z-index: 2;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
.article-text h4 { font-size: 16px; font-weight: 600; color: #007ac3; padding: 5px;
    padding-bottom: 7px;
    box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
    z-index: 2;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }

.article-summary .media-left a{float: left;}
#seachCheckFlag{display: none;}
.contact_section ul{list-style: none; padding: 0px;     line-height: 28px;}
.contact.support{ margin-top: 20px;}
#contact-form .form-control{width: 100%}
.current_issue_title{background: #ececec; padding: 5px 10px; color: #333; font-size: 14px; font-weight: 600}
.current_issue .page-header{margin-bottom: 0px;text-transform: uppercase;}
.page-header h2{border: 0px;}

.about_site {margin-bottom: 15px}
.journals .media-heading{font-size: 22px; font-family: "NexusSans",Arial,Helvetica,sans-serif; font-weight: 300}
.journals a{ color: #0b7dae}

.journals .media-list .nav-pills li { border-right: 1px solid #ccc;}
.journals .media-list .nav-pills li:last-child { border-right: 0px solid #ccc;}
.journals .nav-pills>li>a{ font-size: 14px;  font-weight: 600;     padding: 0px 10px; }
.journals .nav-pills>li>a:hover, .journals .nav-pills>li>a:focus{ background: transparent;}
/*.journals .nav-pills>li>a:hover{background: transparent;}*/
.journals {width: 1200px; margin: 0 auto}
.journals .media-list .media{    border-bottom: 1px solid #eee;
    margin-top: 20px;
    padding-bottom: 20px;}
    .journals .media-list .media:nth-child(2n+1){border-right: 1px solid #eee;}
.journals .media-list .media a{   color: #2f5e83; }

.journals .media-list .media .description{ /*overflow: auto; min-height: 140px;*/}
.journals .media-list .media .media-left{ padding-right: 20px}
.journals .media-list .nav-pills{margin-bottom: 10px;}
.journals .media-list .media .media-left img{    max-width: 160px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 8px 9px 6px -6px black;}

.submission_checklist .fa-check{color: #838383; float: left; font-size: 16px;}
.submission_checklist .item-content{     margin-left: 27px;    display: block;}
.submission_checklist .description{font-size: 16px}
#carousel-example-generic{margin-bottom: 20px;}
.cmp_pagination{display: inline-block; width: 100%}
.social-widget ul:not(.social-icons) li{border-bottom: 1px solid rgba(204, 204, 204, 0.25);    padding: 7px 0;}   
.contact-widget a >img{width: 500px;}
#topMenuBar{float: left; list-style: none; padding-left: 0px; margin-bottom: 0px;}
#topMenuBar li{float: left;}
#topMenuBar > li> a{display: block; color: #fff; padding:5px 10px; font-size: 11px; text-transform: uppercase;}

.newDropDown .fa-chevron-down{font-size: 10px !important; color: #666}
.menuRightBtns{float: right; margin-top: 15px;}
.menuRightBtns .btn{font-size: 18px; padding:8px 20px;}

.searchBarWrp{    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding:0px;
    right: 0px;
    -webkit-transition: .4s; transition: .4s;
   }
    .searchBarWrp  form{ position: relative;}
   .searchBarWrp input{-webkit-transition: .2s; transition: .2s; display: none; border:0px; font-size: 14px; padding: 5px 10px; border-radius: 0px; height: auto; border-radius: 3px; width: 250px; color: #333; background: #fff }
   .searchBarWrp input:hover, .searchBarWrp input:focus{border:0px; outline: none; box-shadow: none;}
   .searchBarWrp button { background: transparent;  padding: 0px 10px; border: 0px; top: 2px; font-size: 18px}
   .searchBarWrp button .fa{ color: #fff}
   .searchBarWrp button:hover, .searchBarWrp button:focus, .searchBarWrp button:active:focus{box-shadow: none; outline: none; background: transparent; color: #fff}
   /*.searchBarWrp.activeState {background: #47769b}
   .searchBarWrp.activeState input{width: 350px;}*/
   .titleBarJournal{color: #fff; padding: 30px 15px; font-size: 24px; font-size: 36px; display: inline-block;}
   .titleBarJournal:hover{color: #fff; }
.footerSupports{border-top: 1px solid #ccc; background: #fff; text-align: center;}
.footerSupports a{display: inline-block;     height: 40px; margin: 15px;}
.footerSupports a img{max-height: 100%; width: auto; display: block; border: 0px;     opacity: 0.7; -webkit-transition: .2s; transition: .2s;}
.footerSupports a:hover img{ opacity: 1;}
/*journal info*/

.journalInfoWrp{background: #e4e4e4; padding: 30px 0px; clear: both;}
.journalInfoWrp > div{display: table-row; }
.journalInfoWrp > div > div{display: table-cell; vertical-align: middle;  padding:30px 10px; font-weight: 300; }
.journalInfoWrp > div > div:first-child{color: #fff;    background: rgba(0, 0, 0, 0.71);   min-width: 700px;font-size: 40px; padding-left: 30px; padding-right: 30px;}
.journalInfoWrp > div > div.infoRelatedJr{width: 300px; background:#fff;}
.journalInfoWrp > div > div.infoRelatedJr ul{list-style: none; padding: 0px; margin: 0px;}
.journalInfoWrp > div > div.infoRelatedJr ul li a{display:block; padding: 5px 10px; color: #0e2d46; font-size: 16px; -webkit-transition: .2s; transition: .2s;}
.journalInfoWrp > div > div.infoRelatedJr ul li a:hover{color:#337ab7; }

.breadcrumsWrpHD {display: inline-block; width: 100%; float: left;}
.breadcrumsWrpHD > *:not(.socialBread):first-child{float: left;}
.socialBread {float: right;}
.socialBread a{display: inline-block; color: #666; padding: 11px 10px; font-size: 18px; line-height: 0px; -webkit-transition: .2s; transition: .2s;}
.socialBread a .fa{display: inline-block; vertical-align:middle;}
.socialBread a.saveStar span{font-size: 15px; color: #333}
.socialBread a:hover{color: #2f5e83}
body[data-page="noJournal"] .pkp_structure_main.col-md-9{padding: 0px;}
body[data-page="noJournal"] .mainNavigation{max-height: 150px}
.mainNavigation img{max-height: 100px; margin-top: 0px;}
.publishingHomeSearch{background: url(../img/ojs-1.jpg) no-repeat; background-size: cover; padding: 110px 0px 130px 0px; color: #fff }
.publishingHomeSearch h1{border-bottom: 1px solid #fff; color: #fff; font-size: 70px;       font-weight: 300;  padding-bottom: 10px; margin: 0px;  text-align: center;     font-family: 'Source Sans Pro', sans-serif;}
.publishingHomeSearch h2{font-size: 30px; margin:20px 0px;  color: #fff; text-align: center;   font-family: 'Source Sans Pro', sans-serif;}
.publishingSearchContent{width: 900px; margin: 0 auto}
.publishingHomeSearch  input{border-radius: 0px; box-shadow: none; border:0px;     padding: 22px 20px;}
.publishingHomeSearch  form{position: relative;}
.publishingHomeSearch  button{border-radius: 0px; background-color: #257471; position: absolute; border-color: #257471;     right: 4px; top: 4px; color: #fff; border: 0px; font-size: 17px;}
.publishingHomeSearch  button:hover{ background-color: #2f5e83; }
/*.page_index_site .about_site{    background-color: #2f5e83; font-size: 20px; font-weight: 300; color: #fff; padding: 30px 0px; text-align: center;}*/
    
.sliderDescription{position: absolute; padding: 40px; max-width: 60%; left: 30%; font-size: 30px; font-weight: 300; top: 170px; color: #fff;} .sliderDescription.right{right: 30%; left: initial;}
.page_index_journal .issue-toc .thumbnail, .page_issue .thumbnail{float: left; width: 200px; margin-bottom: 0px;}
.page_index_journal .issue-toc .thumbnail + .description, .page_issue .thumbnail + .description {margin-left: 220px;}
.page_index_journal .heading, .page_issue .heading{clear: both; margin-bottom: 10px; padding: 30px 0px; display: table-cell;}
.page_index_journal .page-header h2{margin-top: 10px; margin-bottom: 0px;}
.WrpMediaCnt{float: left; width: 80%}
.WrpMediaCnt + .galleryLinksWrp{float: right;  text-align: right;}

.galleryLinksWrp a[data-type="file"]:before{content: '\f121 '; font-family: 'FontAwesome';  margin-right: 5px; }
/*button color modificaton*/
.btn, .btn-default, .btn-primary{background: #007ac3; color: #fff; border-color: #007ac3;}
.btn:hover, .btn-default:hover, .btn-primary:hover{background: #007ac3; color: #fff;  border-color: #007ac3;}
/*button color modificaton*/
.page_contact h1, .page-header h1, .page-header{margin-top: 0px;}
.page_issue .heading{padding-top: 0px;}



/*for pdf viewer*/
#pdfCanvasContainer {position: absolute; top: 0; left: 0; right: 0; bottom: 0; overflow-y: hidden; width: 100%; max-width: 100%; } 
.header_view_pdf,.header_view{position: fixed; width: 100%; background: #1b5083 ; color: #fff; display: inline-block; z-index: 1; } 
.header_view_pdf .pkp_screen_reader,.header_view .pkp_screen_reader{display: none;}
.header_view_pdf .download, .header_view .download {right: 0px;     width: auto;    padding: 0 20px;background: #fff; color: #1b5083; display: block; position: absolute; top: 0; text-align: center;      line-height: 30px;   height: 30px; }
.header_view_pdf .download:before , .header_view .download:before {content: "\f019"; font-family:'FontAwesome';}
.header_view_pdf .return:before,.header_view .return:before {content: "\f060"; font-family:'FontAwesome';} 
.header_view_pdf .return,.header_view .return{left: 0px;     position: absolute; top: 0; left: 0; width: 30px;  background: #fff; color: #009de5; text-align: center;} 
.header_view_pdf .title,.header_view .title{line-height: 30px;     display: block; padding-left: 40px; max-width: 100%; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 13px; color: #fff;}

.header_view_pdf .return, .header_view .download{background: #fff; color: #1b5083; display: block; position: absolute; top: 0; text-align: center;      line-height: 30px;   height: 30px;}
.header_view .return, .header_view .download{background: #fff; color: #1b5083; display: block; position: absolute; top: 0; text-align: center;      line-height: 30px;   height: 30px;}
.header_view_pdf .return .label, .header_view_pdf .download .label{ color: #1b5083}
.header_view .return .label, .header_view .download .label{ color: #1b5083}

.header_view_pdf a, .header_view_pdf a{color: #fff; }

#pdfCanvasContainer iframe{margin-top: 30px; border: 0px;}
/*end for pdf viewer*/


/*Recent news section*/


#newsslide {
    position: relative;
    padding: 30px 86px 25px;
    width: 100%
}

#newsslide > div {
    border-bottom: 1px dashed #dedede;
    width: 100%;
    margin: -36px 0 0 -87px;
    color: #ff6000;
    position: absolute;
    min-height: 38px;
    text-align: left;
    vertical-align: middle;
}

#newsslide > div a {
    color: #ff6000;
}

#latestnews-title,
#newsarticle-title {
    background: #ff6000 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: left;
    padding: 9px 6px 9px 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    min-width: 13%;
    font-weight: bold;
}

#latestnews-title::after,
#newsarticle-title::after {
    border-left: 16px solid #ff6000;
    border-bottom: 37px solid rgba(0, 0, 0, 0);
    padding: 5px 0px 5px 0px;
    content: "";
    display: inline;
    float: right;
    position: absolute;
    right: -16px;
    bottom: 0;
}

#latestnews-content,
#newsarticle-content {
    padding: 9px 6px 9px 25px;
    /*min-width: 85%;*/
    float: left;
}

/*recent news section end*/
.addBlockWrap{background: #f5f7fa;  padding:7px 10px; text-align: center;}
.addBlockWrap + header, .addBlockWrap{ border-top: 1px solid #e0e0e0 !important;}
.addBlockWrap img{max-width: 100%; height: auto;}

.pkp_page_index main{padding: 0px;}
/*block*/
#imageContentWrp{background: #e8eaee; padding:40px 20px ; display: inline-block; width: 100%}
#imageContentWrp ul{list-style: none; margin: 0px; padding: 0px;}
#imageContentWrp > ul > li{width: 31.9%; margin-right: 2%; float: left; background: #FFF}
#imageContentWrp > ul > li:last-child{margin-right: 0%; }
#imageContentWrp > ul > li img{max-width: 100%; height: auto}
#imageContentWrp > ul > li h2{font-size: 20px; color: #211f1f; font-weight: 700; margin-top: 0px;}
#imageContentWrp > ul > li .contentPr{padding: 20px; font-size: 15px;}

#imageContentWrp.mostImpLinksWrp {background: #FFF}
.mostImpLinksWrp h2{text-align: center;}
#imageContentWrp.mostImpLinksWrp  > ul > li{border:1px solid #ccc; padding: 20px;}
#imageContentWrp.mostImpLinksWrp  > ul > li a{color: #333; font-size: 15px; border-bottom: 1px dotted #ccc; display: block; padding: 10px;}
#imageContentWrp.mostImpLinksWrp  > ul > li a:last-child{border: 0px;}
#imageContentWrp.mostImpLinksWrp  > ul > li a:hover{text-decoration: underline;}

#imageContentWrp.featuredDescription{background: #003F7C}

#relatedTitleWrp {text-align: center; padding: 40px 20px;}
#relatedTitleWrp ul{list-style: none; padding: 0px; margin: 0px;}
#relatedTitleWrp li{width: 100px; display: inline-block; margin-right: 20px; text-align: center;}
#relatedTitleWrp li:last-child{margin-right: 0px;}
#relatedTitleWrp li img{ height: 130px;  margin-bottom: 5px;}
#relatedTitleWrp li a{color: #333;text-align: center; font-size: 16px;}
#relatedTitleWrp li a:hover{text-decoration: underline;}
#relatedTitleWrp h2{color: #333; margin:0px; margin-bottom: 20px;     display: inline-block; position: relative;}
#relatedTitleWrp h2:after{content: ''; border-top: 4px solid #003F7C; display: block; width: 80%; margin: 0 auto;     margin-top: 10px;}
/*block*/

.team-member img{max-width: 100%; height: auto;}

.journalInfoCol{ padding:180px 5% 30px 5%;  display: inline-block;    width: 100%;}
.journalContentWr{padding: 30px}
.additionalLinks{position: absolute; right: 5%; height: 100%}
.additionalLinks a{ display: block; height: 100%; float: left; font-weight: 400; transition:0.2s; font-size: 18px; padding: 0px 30px; line-height: 47px; background: #ea8f00}
.additionalLinks a:hover{color: #fff; text-decoration: none; box-shadow: inset 0 100px rgba(0,0,0,0.1);}
.additionalLinks a:last-child{ background: #85bc20}

.journalInfoCol h1{color: #fff; padding: 5px 20px; margin: 0px; 
min-width: 50%; 
display: inline-block;
background: -moz-linear-gradient(left, rgba(37,36,36,1) 0%, rgba(0,0,0,0) 100%);
background: -webkit-linear-gradient(left, rgba(37,36,36,1) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to right, rgba(37,36,36,1) 0%,rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252424', endColorstr='#00000000',GradientType=1 );
}
.journalInfoCol .carousel {font-size: 18px; font-weight: 200}
.journalInfoCol .carousel h5{font-size: 30px; font-weight: 400; margin-bottom: 20px;}
.journalInfoCol .carousel {width: 700px; color: #fff; padding:40px 20px; height: 400px; background: rgba(36,24,102,0.8); float: right; margin-bottom: 0px !important;}
.journalInfoCol .carousel  img{ float: left; margin: 0px 10px 20px;}
.journalInfoCol .carousel-indicators  {top: 20px; bottom: inherit; text-align: left; left: 20px; margin-left: 0px;}
.journalInfoCol .carousel-indicators li {border-radius: 0px; width: 20px; height: 20px;  margin: 0px;   background: rgba(255, 255, 255, 0.3);border: 0px; margin-right: 10px;}
.journalInfoCol .carousel-indicators li.active {   background: rgba(255, 255, 255, 0.8);}
/*Quick Links*/

.quick-links {
	
	margin: 0;
	text-align: left;
	padding-inline-start: 0px;
}
.quick-links li {
	display: inline;
}
.quick-links li a {
	display: inline-block;
	text-transform: uppercase;
	padding: 4px;
	text-decoration: none;
	text-align: center;
	font-size:10px;
}
.quick-links img {
	width: 65px;
	height: 65px;
}
.quick-links li a:hover img {
	height: auto;
	transition: 1s ease-in-out;
}
/*footer style*/
#footer {
    background-color: #222;
    padding-top: 10px;
    border-top: 4px solid #555;
    color: #ccc;

    font-family: Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
    font-style: normal;
}

#footer ul{
    list-style-type: none;
    padding-left: 0;
}

#footer ul li{
    padding: 5px 0;
}

.issueTocPublishArticles{ margin-top: -15px;}
footer {
    background-color: #222;
    padding-top: 60px;
    border-top: 4px solid #555;
    color: #ccc;
}

footer p {
    color: #ccc;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #666;
    text-decoration: underline;
}

.footer-widget {
    margin-bottom: 45px;
}

.footer-widget h4 {
    color: #eee;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}

.footer-widget h4 .head-line {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 3px;
    background-color: #333;
    margin: 0;
}

.social-widget ul.social-icons li {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 4px;
}

.social-widget ul.social-icons li a span {
    font-size: 1.4em;
    width: 30px;
    height: 30px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    display: block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.social-widget ul.social-icons li a:hover {
    text-decoration: none;
}

.social-widget ul.social-icons li a.facebook:hover span {
    background-color: #507CBE;
}

.social-widget ul.social-icons li a.twitter:hover span {
    background-color: #63CDF1;
}

.social-widget ul.social-icons li a.google:hover span {
    background-color: #F16261;
}

.social-widget ul.social-icons li a.dribbble:hover span {
    background-color: #E46387;
}

.social-widget ul.social-icons li a.linkdin:hover span {
    background-color: #90CADD;
}

.social-widget ul.social-icons li a.tumblr:hover span {
    background-color: #4D7EA3;
}

.social-widget ul.social-icons li a.flickr:hover span {
    background-color: #E474AF;
}

.social-widget ul.social-icons li a.instgram:hover span {
    background-color: #4D4F54;
}

.social-widget ul.social-icons li a.vimeo:hover span {
    background-color: #87D3E0;
}

.social-widget ul.social-icons li a.skype:hover span {
    background-color: #36C4F3
}

.contact-widget {
    background: url(map.png) center bottom no-repeat;
}

.contact-widget span {
    font-weight: 700;
}

.contact-widget ul li {
    margin-bottom: 12px;
}

.contact-widget ul li p a {
    color: #bbb;
}

.contact-widget p {
    padding-bottom: 20px;
}

.twitter-widget a:hover {
    color: #43B9CD;
    text-decoration: underline;
}

.twitter-widget ul li {
    margin-bottom: 20px;
}

.twitter-widget ul li span {
    color: #666;
}

.flickr-widget ul {
    overflow: hidden;
}

.flickr-widget ul li {
    float: left;
    margin-left: 8px;
    margin-bottom: 8px;
}

.flickr-widget ul li:nth-child(3n+1) {
    margin-left: 0;
}

.flickr-widget ul li a {
    display: inline-block;
    width: 80px;
    opacity: 0.6;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border: 4px solid #333;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.flickr-widget ul li a img {
    width: 100%;
    height: 65px;
}

.flickr-widget ul li a:hover {
    opacity: 1;
}

.mail-subscribe-widget form {
    margin-top: 15px;
    margin-bottom: 20px;
}

.mail-subscribe-widget form input[type="text"] {
    outline: none;
    color: #666;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    outline: none;
}

.copyright-section {
    padding: 15px 0;
    font-size: 11px;
    letter-spacing: 0.5px;
    border-top: 1px solid rgba(255,255,255,.06);
}

.copyright-section p {
    font-size: 11px;
    text-transform: uppercase;
}

ul.footer-nav {
    float: right;
}

ul.footer-nav li {
    display: inline-block;
    float: left;
    margin-left: 15px;
}

ul.footer-nav li:first-child {
    margin-left: 0;
}

ul.footer-nav li a {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.footer-nav li a:hover {
    color: #fff;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    background-color: #444;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.page-header h3 {
    background-color: #00619c;
    clear: both;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    overflow: visible;
    padding: 9px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 0px;
    line-height: 12px;
}
.page-header h3::after {
	border-bottom: 11px solid rgba(0, 0, 0, 0);
	border-left: 10px solid #00619c;
	border-top: 11px solid #00619c;
	bottom: -12px;
	content: "";
	display: inline-block;
	position: absolute;
	right: 0;
	width: 1px;
}

.social-icons{margin: 0px; padding: 0px;}

/*footer style*/
.journalInfoCol1{display: flex; flex-wrap: nowrap; height: 300px; margin-bottom: 0px; padding: 0px 20px 30px;}
.journalInfoCol1 .currentIssueInfo{width: 250px; margin-right: 20px; text-align: center; border: 1px solid #cfd5e4; padding: 8px;  }
.currentIssueInfo a{color: #333}
.journalInfoCol1 .currentIssueInfo img{max-width: 100%; height: auto; margin-bottom: 0px;}
.journalInfoCol1 .currentIssueInfoAuthor{width: 220px;   text-align: center;
padding: 15px 5px;  background-color: #fafafa;    border: 1px solid #cfd5e4;}
.journalInfoCol1 > div{margin-right: 2%; padding: 0px;}
.journalInfoCol1 > div:last-child{margin-right: 0px;}
.journalInfoCol1 > div.infojrnl{width:70%; color: #fff ; padding: 15px 5px;
    background-color: #fafafa; border: 1px solid #cfd5e4;}
.journalInfoCol1 .highlightBar{background: rgba(18, 18, 18, 0.8);
    padding: 20px; margin-top: 30px;}
.journalInfoCol1 .highlightBar h2{color: #fff; font-weight: 600; font-size: 30px; margin: 0px; }
.journalInfoCol1 > div.infojrnl .highlightBar{height: 220px; overflow: hidden; }


@font-face {
	font-family: 'ecoicon';
	src:url('../fonts/ecoicons/ecoicon.eot');
	src:url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ecoicons/ecoicon.woff') format('woff'),
		url('../fonts/ecoicons/ecoicon.ttf') format('truetype'),
		url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 0em 0 0em;
}

.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 1px 3px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\e009";
}

.hi-icon-screen:before {
	content: "\e00a";
}

.hi-icon-earth:before {
	content: "\e002";
}

.hi-icon-support:before {
	content: "\e000";
}

.hi-icon-locked:before {
	content: "\e001";
}

.hi-icon-cog:before {
	content: "\e003";
}

.hi-icon-clock:before {
	content: "\e004";
}

.hi-icon-videos:before {
	content: "\e005";
}

.hi-icon-list:before {
	content: "\e006";
}

.hi-icon-refresh:before {
	content: "\e007";
}

.hi-icon-images:before {
	content: "\e008";
}

.hi-icon-pencil:before {
	content: "\e00b";
}

.hi-icon-link:before {
	content: "\e00c";
}

.hi-icon-mail:before {
	content: "\e00d";
}

.hi-icon-location:before {
	content: "\e00e";
}

.hi-icon-archive:before {
	content: "\e00f";
}

.hi-icon-chat:before {
	content: "\e010";
}

.hi-icon-bookmark:before {
	content: "\e011";
}

.hi-icon-user:before {
	content: "\e012";
}

.hi-icon-contract:before {
	content: "\e013";
}

.hi-icon-star:before {
	content: "\e014";
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #41ab6b;
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 1b */
.hi-icon-effect-1b .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #41ab6b;
}

.hi-icon-effect-1b .hi-icon:after {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.hi-icon-effect-1b .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 2 */
.hi-icon-effect-2 .hi-icon {
	color: #eea303;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-2 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect 2a */
.hi-icon-effect-2a .hi-icon:hover {
	color: #eea303;
}

.hi-icon-effect-2a .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

/* Effect 2b */
.hi-icon-effect-2b .hi-icon:hover:after {
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
	-moz-transition: -moz-transform 0.4s, opacity 0.2s;
	transition: transform 0.4s, opacity 0.2s;
}

.hi-icon-effect-2b .hi-icon:hover {
	color: #fff;
}

/* Effect 3 */
.hi-icon-effect-3 .hi-icon {
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.hi-icon-effect-3 .hi-icon:after {
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

/* Effect 3a */
.hi-icon-effect-3a .hi-icon {
	color: #f06060;
}

.hi-icon-effect-3a .hi-icon:hover {
	color: #fff;
}

.hi-icon-effect-3a .hi-icon:hover:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

/* Effect 3b */
.hi-icon-effect-3b .hi-icon {
	color: #fff;
}

.hi-icon-effect-3b .hi-icon:hover {
	color: #f06060;
}

.hi-icon-effect-3b .hi-icon:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

.hi-icon-effect-3b .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 4 */
.hi-icon-effect-4 .hi-icon {
	width: 92px;
	height: 92px;
	box-shadow: 0 0 0 4px rgba(255,255,255,1);	
}

.hi-icon-effect-4a .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-4 .hi-icon:before {
	line-height: 92px;
}

.hi-icon-effect-4 .hi-icon:after {
	top: -4px;
	left: -4px;
	padding: 0;
	z-index: 10;
	border: 4px dashed #fff;
}

.hi-icon-effect-4 .hi-icon:hover {
	box-shadow: 0 0 0 0 rgba(255,255,255,0);
	color: #fff;
}

/* Effect 4b */
.hi-icon-effect-4b .hi-icon:hover {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-4b .hi-icon:hover:after {
	-webkit-animation: spinAround 9s linear infinite;
	-moz-animation: spinAround 9s linear infinite;
	animation: spinAround 9s linear infinite;
}

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

/* Effect 5 */
.hi-icon-effect-5 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	overflow: hidden;
	-webkit-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	transition: background 0.3s, color 0.3s, box-shadow 0.3s;
	background: #00619c;
}

.hi-icon-effect-5 .hi-icon:after {
	display: none;
}

.hi-icon-effect-5 .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #702fa8;
	box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}

.hi-icon-effect-5a .hi-icon:hover:before {
	-webkit-animation: toRightFromLeft 0.3s forwards;
	-moz-animation: toRightFromLeft 0.3s forwards;
	animation: toRightFromLeft 0.3s forwards;
}

@-webkit-keyframes toRightFromLeft {
	49% {
		-webkit-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toRightFromLeft {
	49% {
		-moz-transform: translate(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toRightFromLeft {
	49% {
		transform: translate(100%);
	}
	50% {
		opacity: 0;
		transform: translate(-100%);
	}
	51% {
		opacity: 1;
	}
}

.hi-icon-effect-5b .hi-icon:hover:before {
	-webkit-animation: toLeftFromRight 0.3s forwards;
	-moz-animation: toLeftFromRight 0.3s forwards;
	animation: toLeftFromRight 0.3s forwards;
}

@-webkit-keyframes toLeftFromRight {
	49% {
		-webkit-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toLeftFromRight {
	49% {
		-moz-transform: translate(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toLeftFromRight {
	49% {
		transform: translate(-100%);
	}
	50% {
		opacity: 0;
		transform: translate(100%);
	}
	51% {
		opacity: 1;
	}
}

.hi-icon-effect-5c .hi-icon:hover:before {
	-webkit-animation: toTopFromBottom 0.3s forwards;
	-moz-animation: toTopFromBottom 0.3s forwards;
	animation: toTopFromBottom 0.3s forwards;
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

.hi-icon-effect-5d .hi-icon:hover:before {
	-webkit-animation: toBottomFromTop 0.3s forwards;
	-moz-animation: toBottomFromTop 0.3s forwards;
	animation: toBottomFromTop 0.3s forwards;
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

/* Effect 6 */
.hi-icon-effect-6 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-6 .hi-icon:hover {
	background: rgba(255,255,255,1);
	color: #64bb5d;
}

.hi-icon-effect-6 .hi-icon:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

/* Effect 7 */
.hi-icon-effect-7 .hi-icon {
	box-shadow: 0 0 0 4px rgba(255,255,255,1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;	
}

.hi-icon-effect-7 .hi-icon:hover {
	color: #fff;
}

.hi-icon-effect-7 .hi-icon:after {
	top: -8px;
	left: -8px;
	padding: 8px;
	z-index: -1;
	opacity: 0;
}

/* Effect 7a */
.hi-icon-effect-7a .hi-icon:after {
	box-shadow: 0 0 0 rgba(255,255,255,1);
	-webkit-transition: opacity 0.2s, box-shadow 0.2s;
	-moz-transition: opacity 0.2s, box-shadow 0.2s;
	transition: opacity 0.2s, box-shadow 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:after {
	opacity: 1;
	box-shadow: 3px 3px 0 rgba(255,255,255,1);
}

.hi-icon-effect-7a .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect-7a .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 7b */
.hi-icon-effect-7b .hi-icon:after {
	box-shadow: 3px 3px rgba(255,255,255,1);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
	-moz-transition: opacity 0.2s, -moz-transform 0.2s;
	transition: opacity 0.2s, transform 0.2s;
}

.hi-icon-effect-7b .hi-icon:hover:after {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.hi-icon-effect-7b .hi-icon:before {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

.hi-icon-effect-7b .hi-icon:hover:before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* Effect 8 */
.hi-icon-effect-8 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
}

.hi-icon-effect-8 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	z-index: -1;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
	opacity: 0;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.hi-icon-effect-8 .hi-icon:hover {
	background: rgba(255,255,255,0.05);
	-webkit-transform: scale(0.93);
	-moz-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
	color: #fff;
}

.hi-icon-effect-8 .hi-icon:hover:after {
	-webkit-animation: sonarEffect 1.3s ease-out 75ms;
	-moz-animation: sonarEffect 1.3s ease-out 75ms;
	animation: sonarEffect 1.3s ease-out 75ms;
}

@-webkit-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-webkit-transform: scale(1.5);
		opacity: 0;
	}
}
@-moz-keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		-moz-transform: scale(1.5);
		opacity: 0;
	}
}
@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

/* Effect 9 */
.hi-icon-effect-9 .hi-icon {
	-webkit-transition: box-shadow 0.2s;
	-moz-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
}

.hi-icon-effect-9 .hi-icon:after {
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0 0 0 3px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	transition: transform 0.2s, opacity 0.2s;
}

/* Effect 9a */
.hi-icon-effect-9a .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
	opacity: 0.5;
}

.hi-icon-effect-9a .hi-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,1);
	color: #fff;
}

/* Effect 9b */
.hi-icon-effect-9b .hi-icon:hover:after {
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

.hi-icon-effect-9b .hi-icon:hover {
	box-shadow: 0 0 0 10px rgba(255,255,255,0.4);
	color: #fff;
}

.item-keywords {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    background: #f5f6f7;
    padding: 10px;
    text-align: justify;
}
.item-references {
   border-color: #ddd;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
}
.panel-default {
    border-color: #ddd;
    padding: 10px;
    text-align: justify;
}
.label {
    display: block; 
    text-align: left;
    background-color: #00619c; font-size: 24px; font-weight: 600; margin-top: 5px; color: #fff; padding: 5px;
    padding-bottom: 7px;
    box-shadow: 0px 6px 5px rgba(0,0,0,0.2);
    z-index: 2;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    
    height: auto;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    overflow: auto;
        font-size: 12px;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #00619c;
    border-color: #ddd;
}
.btn {
    
    width: 100%;
}
a.more_button:hover {
  
    color: #007bff;
}
li.author {
    cursor: pointer;
font-size: larger;
}

li.author:hover {
    cursor: pointer;
 color: #007bff;
}
ol.item.authors {
    cursor: pointer;
}
li.author a {
    display: inline;
    color: black;
}
ul.csv {
    padding-left: 0px;
}

ul.csv li:not(:last-of-type):after {
    content: ",";
}





ul.csv li:last-child:after {
    content: "";
}
.modal-content {
    padding: 10px;
}
.modal,body.modal-open {
    padding: 0!important
}

body.modal-open {
    overflow: auto
padding: 10px;
}
ol.authors {
    text-align: left;
    margin-top: 25px;
    list-style-type: none;
    padding-left: 0;
    font-family: 'Alegreya Sans', sans-serif;
}
li.author {
    display: inline;
}
.modal-footer {
	display: flex;
	justify-content: flex-start;
	.btn {
		position: absolute;
		right: 10px;
	}
}
// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  .modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Shell div to position the modal with bottom padding
.modal-dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  // When fading in the modal, animate it to slide down
  .modal.fade & {
    @include transition($modal-transition);
    transform: translate(0, -25%);
  }
  .modal.show & {
    transform: translate(0, 0);
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (#{$modal-dialog-margin} * 2));
}

// Actual modal
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  pointer-events: auto;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border: $modal-content-border-width solid $modal-content-border-color;
  @include border-radius($border-radius-lg);
  @include box-shadow($modal-content-box-shadow-xs);
  // Remove focus outline from opened modal
  outline: 0;
}

// Modal background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg;

  // Fade for backdrop
  &.fade { opacity: 0; }
  &.show { opacity: $modal-backdrop-opacity; }
}

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header {
  display: flex;
  align-items: flex-start; // so the close btn always stays on the upper right corner
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: $modal-header-padding;
  border-bottom: $modal-header-border-width solid $modal-header-border-color;
  @include border-top-radius($border-radius-lg);

  .close {
    padding: $modal-header-padding;
    // auto on the left force icon to the right even when there is no .modal-title
    margin: (-$modal-header-padding) (-$modal-header-padding) (-$modal-header-padding) auto;
  }
}

// Title text within header
.modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
}

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  // Enable `flex-grow: 1` so that the body take up as much space as possible
  // when should there be a fixed height on `.modal-dialog`.
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}

// Footer (for actions)
.modal-footer {
  display: flex;
  align-items: center; // vertically center
  justify-content: flex-end; // Right align buttons with flex property because text-align doesn't work on flex items
  padding: $modal-inner-padding;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;

  // Easily place margin between footer elements
  > :not(:first-child) { margin-left: .25rem; }
  > :not(:last-child) { margin-right: .25rem; }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

// Scale up the modal
@include media-breakpoint-up(sm) {
  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: $modal-md;
    margin: $modal-dialog-margin-y-sm-up auto;
  }

  .modal-dialog-centered {
    min-height: calc(100% - (#{$modal-dialog-margin-y-sm-up} * 2));
  }

  .modal-content {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .modal-sm { max-width: $modal-sm; }

}

@include media-breakpoint-up(lg) {
  .modal-lg { max-width: $modal-lg; }
}
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #17a2b8;
    background-color: #f8f9fa;
    border-color: #ffffff;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.csl-entry .csl-left-margin {
    display: none;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
#sidebar .block_custom h2.title
{
   display:none; 
}
.author_raw::after {
  content: "";
  clear: both;
  display: table;
}
.author_column {
  float: left;
  padding: 5px;
}
.author_column1 {
  float: left;
  position: absolute;
  right: 50px;
}
.index_grid::after {
  content: "";
  clear: left;
  display: table;
}
.index_column1 {
  clear: left;
  padding: 5px;
}
.index_column {
  float: left;
  padding: 5px;
}
.index_column:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}