<div class="currentIssueInfoAuthor">
	<div class="content">
		<p><strong><img src=""></strong></p>
<p><strong>DOI</strong><br> 10.24018/EJMED</p>
<p><strong>ISSN</strong><br> 2506-8016</p>
<p><strong>Impact Factor</strong><br> 0,84</p>
<p><strong>Publication Frequency</strong><br>Monthly</p>
	</div>
</div>