<div class="currentIssueInfoAuthor">
	<div class="content">

<p><strong>DOI</strong><br> 10.24018/EJMED</p>
<p><strong>ISSN</strong><br> 2593-8339</p>
<p><strong>Acceptance Rate:</strong> 38% </p>
<p><strong>Submission to Publication:</strong><br> 25 days (Avg)</p>
<p><strong>Publication Frequency</strong><br>Monthly</p>
	</div>
</div>