<div class="journal-description">
							<p>European Journal of Medical and Health Sciences (EJMED) is a high quality, open access, international, peer-reviewed online journal which aims to monthly publish full length original research papers, reviews, case studies related to all areas of Medical and Health Sciences such as :
  <br>
							<a href="https://www.ej-med.org/index.php/ejmed/about" style="color:#fff; margin-top:10px; display:inline-block">Read More</a>
</p></div>