             <ul>
                <li><span class="fa fa-envelope"> </span> Email: editor@ej-med.org</li> 
                
                <li><span class="fa fa-phone"> </span> Phone: +(32)465785854</li> 
           
                <li><span class="fa fa-globe"> </span> Website: <a class="" href="www.ejfood.org" target="_blank">www.ej-med.org</a></li>
                
                <li><span class="fa fa-address-book"> </span> Address: Minimes 39, 1000, Bruxelles, Belgium </li>




            </ul>