           <ul>
           
              <li><span class="fa fa-info-circle"> </span> <a class="" href="{$baseUrl}/index.php/ejmed/about" target="_blank">About the Journal</a></li> 
              <li><span class="fa fa-users"> </span> <a class=""       href="{$baseUrl}/index.php/ejmed/about/editorialTeam" target="_blank"> Editorial Team</a></li> 
              <li><span class="fa fa-file-text-o"> </span> <a class="" href="{$baseUrl}/index.php/ejmed/about/submissions" target="_blank"> Submissions</a></li> 
              <li><span class="fa fa-credit-card"> </span> <a class="" href="{$baseUrl}/index.php/ejmed/about#AuthorFees" target="_blank"> Article Publication Fee</a></li> 
              
              
          </ul>