             <p>European Journal of Medical and Health Sciences (EJMED) is a peer-reviewed international journal publishes bimonthly full-length state-of-the-art research papers, reviews, case studies related to all areas of Medical and Health Sciences.

             </p>
			<ul>
                <li>ISSN: 2593-8339 (Online)</li>
			</ul>