

 {assign var=journalPath   value = $currentJournal->_data['path']}

	

		<div class="journalInfoCol" style="background-image:url({$baseUrl}/plugins/themes/responsive/img/slider1.jpg); background-position:center center; background-size:cover">
			<h1>{$pageTitleTranslated|strip_tags}</h1>
		</div>



